body {
    width: 100%;
    height: 100%;
}

#digital-body {
    position: absolute;
    width: 360px;
    height: 360px;
    top: 0px;
    left: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*
hour&minutes
*/

#rec-time {
    position: relative;
    width: 65%;
    height: 25%;
    top: 30%;
    border: solid;
    margin: 0 auto;
}

#str-hours {
    font-size: 550%;
    float: left;
    color: white;
}

#str-console {
    font-size: 550%;
    float: left;
    color: white;
}

#str-minutes {
    font-size: 550%;
    float: left;
    color: white;
}

/*
string day & month
*/

#rec-string-time {
    position: absolute;
    width: 55%;
    height: 10%;
    top: 60%;
    /* left: 24%; */
    margin: 0 auto;
    border: solid;
}

#str-day {
    font-size: 150%;
    color: white;
    text-align: center;
    /* float: left; */
}

@media screen and (-tizen-geometric-shape: circle) {
#str-hours {
    font-size: 600%;
}

#str-console {
    font-size: 600%;
}

#str-minutes {
    font-size: 600%;
}

#rec-string-time {
    left: 80px;
}
}